
@{
    Layout = null;
}

<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>Hayalinizdeki eve sahip olun!</p>
                    <h2>Size en uygun evler.</h2>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>İlan Listesi</a>
                </section>
            </div>
        </div>
    </div>
</section>